openapi: 3.2.0
info:
  version: v1
  title: Inrix.UserAccounts.Web User Group API
servers:
- url: https://uas-api.inrix.com/Inrix.UserAccountsSystem.Web_deploy
tags:
- name: UserGroup
paths:
  /v1/usergroups/{id}:
    get:
      tags:
      - UserGroup
      operationId: UserGroup_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/usergroups:
    get:
      tags:
      - UserGroup
      operationId: UserGroup_GetByName
      parameters:
      - name: groupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    post:
      tags:
      - UserGroup
      operationId: UserGroup_Post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          text/xml:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
        required: true
  /v1/usergroups/{id}/members:
    get:
      tags:
      - UserGroup
      operationId: UserGroup_GetMembers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: lastEvaluatedMemberId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    post:
      tags:
      - UserGroup
      operationId: UserGroup_AddMembers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InrixUserGroupMember'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InrixUserGroupMember'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InrixUserGroupMember'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InrixUserGroupMember'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InrixUserGroupMember'
        required: true
  /v1/FindUserGroupsByAdminUser:
    get:
      tags:
      - UserGroup
      operationId: UserGroup_GetUserGroupsByAdmin
      parameters:
      - name: groupIds
        in: query
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/usergroups/{id}/members/{memberId}:
    delete:
      tags:
      - UserGroup
      operationId: UserGroup_DeleteMembers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: memberId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/usergroups/{groupId}:
    put:
      tags:
      - UserGroup
      operationId: UserGroup_Put
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          text/xml:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InrixUserGroup'
        required: true
    delete:
      tags:
      - UserGroup
      operationId: UserGroup_Delete
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/usergroups/GetMultipleUserGroups:
    post:
      tags:
      - UserGroup
      operationId: UserGroup_GetMultipleUserGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
        required: true
  /v1/usergroups/{groupId}/properties:
    get:
      tags:
      - UserGroup
      operationId: UserGroup_QueryProperty
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: name
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    put:
      tags:
      - UserGroup
      operationId: UserGroup_UpdateProperty
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
          text/json:
            schema:
              type: object
              additionalProperties:
                type: string
          application/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          text/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
        required: true
    post:
      tags:
      - UserGroup
      operationId: UserGroup_AddProperties
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
          text/json:
            schema:
              type: object
              additionalProperties:
                type: string
          application/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          text/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
        required: true
    delete:
      tags:
      - UserGroup
      operationId: UserGroup_DeleteProperty
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: name
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
components:
  schemas:
    InrixUserGroupMember:
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        type:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
        role:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
        user:
          $ref: '#/components/schemas/InrixUser'
        usergroup:
          $ref: '#/components/schemas/InrixUserGroupInternal'
    Application:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        role:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        appKey:
          type: string
        name:
          type: string
        appVersion:
          type: string
        sdkVersion:
          type: string
        status:
          format: int32
          enum:
          - 0
          - 1
          type: integer
        devId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        csVendorId:
          type: string
        csVendorGroupId:
          type: string
        csVendorToken:
          type: string
        sfId:
          type: string
        sfAccountName:
          type: string
        sfContractExpiration:
          format: date-time
          type: string
        tokenExpirationHours:
          format: int32
          type: integer
        createdBy:
          type: string
        createdDate:
          format: date-time
          type: string
        modifiedBy:
          type: string
        modifiedDate:
          format: date-time
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
    Device:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        application:
          $ref: '#/components/schemas/Application'
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        uniqueDeviceId:
          type: string
        platform:
          type: string
        osVersion:
          type: string
        model:
          type: string
        locale:
          type: string
        connectionType:
          type: string
        pushTokenChannel:
          type: string
        pushToken:
          type: string
        pushTokenType:
          type: string
        deviceToken:
          type: string
        pushCredentials:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
    InrixUserGroupInternal:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        members:
          type: array
          items:
            $ref: '#/components/schemas/InrixUserGroupMember'
        depth:
          format: int32
          type: integer
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        parents:
          type: string
        description:
          type: string
        devId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        membership:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        lastEvaluatedMemberId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        membercount:
          format: int64
          type: integer
        createdBy:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
        createdDate:
          format: date-time
          type: string
        modifiedBy:
          type: string
        modifiedDate:
          format: date-time
          type: string
    InrixUserGroup:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        parents:
          type: string
        description:
          type: string
        devId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        membership:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        lastEvaluatedMemberId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        membercount:
          format: int64
          type: integer
        createdBy:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
        createdDate:
          format: date-time
          type: string
        modifiedBy:
          type: string
        modifiedDate:
          format: date-time
          type: string
    InrixUser:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        SerializeForStorage:
          type: boolean
        role:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
        accountVerified:
          type: string
        verificationCode:
          type: string
        verificationAttempts:
          format: int32
          type: integer
        verificationCodeExpirationUtc:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        email:
          type: string
        oAuthUserId:
          type: string
        providerName:
          type: string
        avatarIndex:
          type: string
        profileName:
          type: string
        userType:
          format: int32
          enum:
          - 0
          - 1
          - 2
          type: integer
        oAuthToken:
          type: string
        password:
          type: string
        givenName:
          type: string
        surname:
          type: string
        gender:
          type: string
        tag:
          type: string
        consumerId:
          type: string
        devId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        parents:
          type: string
        createdBy:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
