openapi: 3.2.0
info:
  version: v1
  title: Inrix.UserAccounts.Web Application Management API
servers:
- url: https://uas-api.inrix.com/Inrix.UserAccountsSystem.Web_deploy
tags:
- name: Application Management
paths:
  /v1/ApplicationManagement/Ping:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_Ping
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      summary: Application management ping
      x-summary-source: derived
  /v1/ApplicationManagement/ApplicationContext:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_GetApplicationContext
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management get application context
      x-summary-source: derived
  /v1/ApplicationManagement/ApplicationStatus:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_GetApplicationStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management get application status
      x-summary-source: derived
  /v1/ApplicationManagement/Caches:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_GetCaches
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management get caches
      x-summary-source: derived
  /v1/ApplicationManagement/Caches/{cacheId}/Clear:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_ClearCache
      parameters:
      - name: cacheId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management clear cache
      x-summary-source: derived
  /v1/ApplicationManagement/Caches/{cacheId}/Refresh:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_RefreshCache
      parameters:
      - name: cacheId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management refresh cache
      x-summary-source: derived
  /v1/ApplicationManagement/Caches/{cacheId}:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_GetCacheContent
      parameters:
      - name: cacheId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management get cache content
      x-summary-source: derived
  /v1/ApplicationManagement/Recycle:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_RecycleApplication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management recycle application
      x-summary-source: derived
  /v1/ApplicationManagement/ForceGarbageCollection:
    get:
      tags:
      - Application Management
      operationId: ApplicationManagement_ForceGarbageCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Application management force garbage collection
      x-summary-source: derived
