openapi: 3.2.0
info:
  version: v1
  title: Inrix.UserAccounts.Web Application API
servers:
- url: https://uas-api.inrix.com/Inrix.UserAccountsSystem.Web_deploy
tags:
- name: Application
paths:
  /v1/applications:
    get:
      tags:
      - Application
      operationId: Application_Get
      parameters:
      - name: devId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    post:
      tags:
      - Application
      operationId: Application_Post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
          text/json:
            schema:
              $ref: '#/components/schemas/Application'
          application/xml:
            schema:
              $ref: '#/components/schemas/Application'
          text/xml:
            schema:
              $ref: '#/components/schemas/Application'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
  /v1/applications/{appId}:
    get:
      tags:
      - Application
      operationId: Application_Get
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: loadFromDB
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    put:
      tags:
      - Application
      operationId: Application_Put
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
          text/json:
            schema:
              $ref: '#/components/schemas/Application'
          application/xml:
            schema:
              $ref: '#/components/schemas/Application'
          text/xml:
            schema:
              $ref: '#/components/schemas/Application'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
    delete:
      tags:
      - Application
      operationId: Application_Delete
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/appByVendor:
    get:
      tags:
      - Application
      operationId: Application_GetByVendor
      parameters:
      - name: vendorId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/appToken:
    get:
      tags:
      - Application
      operationId: Application_GetAppToken
      parameters:
      - name: appId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: hashToken
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/oauth2/apptoken:
    post:
      tags:
      - Application
      operationId: Application_OAuth2Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2SigninRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OAuth2SigninRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAuth2SigninRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/OAuth2SigninRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuth2SigninRequest'
        required: true
  /v1/applications/{appId}/appKey:
    get:
      tags:
      - Application
      operationId: Application_GetAppKey
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/applications/{appId}/status:
    put:
      tags:
      - Application
      operationId: Application_SetStatus
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: value
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/applications/{appId}/properties:
    get:
      tags:
      - Application
      operationId: Application_QueryProperty
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    put:
      tags:
      - Application
      operationId: Application_UpdateProperty2
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: query
        required: true
        schema:
          type: string
      - name: value
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    post:
      tags:
      - Application
      operationId: Application_AddProperties
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
          text/json:
            schema:
              type: object
              additionalProperties:
                type: string
          application/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          text/xml:
            schema:
              type: object
              additionalProperties:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                type: string
        required: true
    delete:
      tags:
      - Application
      operationId: Application_DeleteProperty2
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v1/applications/{appId}/properties/{key}:
    get:
      tags:
      - Application
      operationId: Application_QueryPropertyByKey
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    put:
      tags:
      - Application
      operationId: Application_UpdateProperty
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: value
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    delete:
      tags:
      - Application
      operationId: Application_DeleteProperty
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
components:
  schemas:
    OAuth2SigninRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          type: string
        device:
          $ref: '#/components/schemas/Device'
    Device:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        application:
          $ref: '#/components/schemas/Application'
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        uniqueDeviceId:
          type: string
        platform:
          type: string
        osVersion:
          type: string
        model:
          type: string
        locale:
          type: string
        connectionType:
          type: string
        pushTokenChannel:
          type: string
        pushToken:
          type: string
        pushTokenType:
          type: string
        deviceToken:
          type: string
        pushCredentials:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
    Application:
      type: object
      properties:
        SerializeForStorage:
          type: boolean
        role:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        appKey:
          type: string
        name:
          type: string
        appVersion:
          type: string
        sdkVersion:
          type: string
        status:
          format: int32
          enum:
          - 0
          - 1
          type: integer
        devId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        csVendorId:
          type: string
        csVendorGroupId:
          type: string
        csVendorToken:
          type: string
        sfId:
          type: string
        sfAccountName:
          type: string
        sfContractExpiration:
          format: date-time
          type: string
        tokenExpirationHours:
          format: int32
          type: integer
        createdBy:
          type: string
        createdDate:
          format: date-time
          type: string
        modifiedBy:
          type: string
        modifiedDate:
          format: date-time
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
